@import url("https://fonts.googleapis.com/css2?family=Gudea:wght@400;700&display=swap");

:root {
  --BrightBlue: hsl(220, 98%, 61%);
  --Background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* light theme */
  --Very_Light_Gray: hsl(0, 0%, 98%);
  --Very_Light_Grayish_Blue: hsl(236, 33%, 92%);
  --Light_Grayish_Blue: hsl(233, 11%, 84%);
  --Dark_Grayish_Blue: hsl(236, 9%, 61%);
  --Very_Dark_Grayish_Blue: hsl(235, 19%, 35%);

  /* ### Dark Theme */

  --Very_Dark_Blue: hsl(235, 21%, 11%);
  --Very_Dark_Desaturated_Blue: hsl(235, 24%, 19%);
  --Light_Grayish_Blue: hsl(234, 39%, 85%);
  --Light_Grayish_Blue_Hover: hsl(236, 33%, 92%);
  --Dark_Grayish_Blue: hsl(234, 11%, 52%);
  --Very_Dark_Grayish_Blue: hsl(233, 14%, 35%);
  --Very_Dark_Grayish_Blue: hsl(237, 14%, 26%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gudea", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 400;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;
  background-color: #212121;
  width: 100vw;
  display: grid;
  grid-template-areas: "body";
  place-content: center;
  overflow-x: hidden;
}

/* LOGIN */
.account {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #0f0f0f;
}
.account form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  background-color: white;
  text-align: left;
  border: 1px solid black;
  align-items: center;
  border-radius: 16px;
  font-family: "Gudea", -apple-system;
  width: 20rem;
  font-size: 1rem;
  font-weight: 400;
}

.loginInput {
  margin: 3%;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  font-weight: 700;
}

.passwordInput {
  font-weight: 700;
  margin: 3%;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  position: relative;
  left: 0.7rem;
}
.pass-text {
  display: flex;
  flex-flow: row nowrap;
}
.buttons {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 4%;
}

.buttons p {
  cursor: pointer;
  font-weight: 900;
}
.login-button {
  display: grid;
  color: #f1f6f9;
  font-size: 1rem;
  font-weight: 700;
  min-width: 4rem;
  place-items: center;
  border-radius: 4px;
  padding: 0.5rem;
  background: rgba(8, 1, 1, 0.767);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(8, 1, 1, 1);
}
.login-button:hover {
  cursor: pointer;
  outline: 12px solid rgba(255, 255, 255, 0.3);
}

/* DASHBOARD */
#root {
  display: grid;
  place-content: center;
  width: 100vw;
}
.container {
  display: flex;
  place-content: center;
  width: 100vw;
  max-width: 1024px;

}
.content {
  width: 90%;
  display: grid;
  margin-top: 1%;
  grid-template-areas:
    "header header header"
    "header header header"
    "main main main"
    "main main main"
    "main main main";
  font-family: "Gudea" !important;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-areas:
    "welcome welcome welcome logout"
    "input input input input"
    "input input input input"
    "input input input input"
    "filter filter filter filter";
  gap: 1.5rem;
}
/* Header-welcome */

.header-welcome {
  grid-area: welcome;
  place-self: start;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 1% 3%;
  color: #f1f6f9;
  background: rgba(8, 1, 1, 0.18);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(8, 1, 1, 1);
  width: fit-content;
}
.header-welcome:hover {
  outline: 2px solid rgba(255, 255, 255, 0.3);
}

/* Header-addtask*/

.header-addtask {
  grid-area: input;
  place-self: center;
  display: flex;
  flex-flow: column nowrap;
}

.create-note {
  display: flex;
  flex-flow: column;
  width: 400px;
  padding: 2%;
  background: rgba(8, 1, 1, 0.18);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(8, 1, 1, 1);
}
.create-note input {
  height: 2rem;
  padding-left: 2%;
  background-color: #212121;
  color: #f1f6f9;
  border-radius: 3px;
  border: 0px;
  outline: 0px;
  font-family: "Gudea";
  text-align: center;
}
.create-note textarea {
  padding-left: 2%;
  text-align: left;
  border: 0px;
  background-color: #212121;
  color: #f1f6f9;
  border-radius: 3px;
  outline: none;
}

.create-note p {
  align-self: center;
  margin: 0;
  gap: 0;
}
.create-note button {
  align-self: flex-end;
  position: relative;
  top: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 50%;
  margin: 0;
}
.create-note button:hover {
  cursor: pointer;
  background-color: black;
  color: #f1f6f9;
  outline: 2px solid #f1f6f9;
}

.duedate {
  align-self: center;
  position: relative;
  top: 1.6rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  width: 15rem;
  margin: 0;
}
.duedate p {
  margin-left: 12%;
  font-size: 0.8rem;
  vertical-align: middle;
  font-weight: 400;
  color: #f1f6f9;
}

/* Header-Logout */
.header-logout {
  grid-area: logout;
  place-self: end;
}
.header-logout button {
  color: #f1f6f9;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 4px;
  padding: 0.5rem;
  background: rgba(8, 1, 1, 0.18);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(8, 1, 1, 1);
}
.header-logout button:hover {
  cursor: pointer;
  outline: 2px solid rgba(255, 255, 255, 0.3);
}

/* header-filter */
.header-filter {
  grid-area: filter;
  display: grid;
  grid-template-areas: "search search search refresh";
  place-self: center;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(8, 1, 1, 0.18);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(8, 1, 1, 1);
  padding: 0.3rem 0.2rem;
}

.search-bar{
  grid-area: search;
  width: 50%;
}

.search-bar form {
  background-color: #212121;
  color: #f1f6f9;
  width: 100%;
}
.search-bar-filter {
  background-color: #212121;
  font-family: "Gudea" !important;
  color: #f1f6f9 !important;
  /* width: 100%; */
}

.search-filter {
  display: flex;
  color: #f1f6f9;
  flex-flow: row nowrap;
}
.search-filter p:hover {
  outline: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  padding: 3px 2px;
  cursor: pointer;
  font: 1.4rem;
  background-color: #0f0f0f;
}

.refresh{
  grid-area: refresh;
  place-items: center;
}
.refresh-button {
  color: #f1f6f9;
  font-size: 0.9rem;
  place-self: start;
  font-weight: 700;
  border-radius: 4px;
  padding: 0.5rem;
  background: rgba(8, 1, 1, 0.18);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(8, 1, 1, 1);
}
.refresh-button:hover {
  cursor: pointer;
  outline: 2px solid rgba(255, 255, 255, 0.3);
}

/*MAIN*/
.main {
  grid-area: main;
  margin-top: 2%;
  border-radius: 5px;
  outline: 1px solid #f1f6f9;
  color: #f1f6f9;
  min-width: 655px;
}

.tasklist {
  display: grid;
  grid-template-areas: "all ongoing finished";
  grid-template-columns: repeat(3, 1fr);
  gap: 0.6rem;
  padding: 0.9rem;
  background: rgba(8, 1, 1, 0.18);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgba(8, 1, 1, 1);
}

/* Tasks */
.all-tasks {
  grid-area: all;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  place-items: center;
}

.pending-tasks {
  grid-area: ongoing;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  place-items: center;
}

.completed-tasks {
  grid-area: finished;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  place-items: center;
}

/* Note(Individual task) */

.note {
  width: 100%;
  max-width: 320px;
  min-width: 198px;
  background: rgba(8, 1, 1, 0.18);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgba(8, 1, 1, 1);
  padding: 0.6rem;
  position: relative;
}
.note-contents {
  display: grid;
  grid-template-areas:
    "title title title status"
    "desc  desc desc desc"
    "desc  desc desc desc"
    "date  date date delete";
  row-gap: 1rem;
}
.note-title {
  grid-area: title;
  place-self: start;
  font-size: 1rem;
  font-weight: 700;
  vertical-align: middle;
  width: 100%;
}

.note-status {
  grid-area: status;
  place-self: end;
  vertical-align: middle;
}
#demo-select-small {
  color: #f1f6f9 !important;
  font-size: 0.8rem;
  background-color: #0f0f0f !important;
}

.menu-item {
  color: #f1f6f9 !important;
}

.note-paragraph {
  grid-area: desc;
  word-break: break-all;
}

.note-duedate {
  grid-area: date;
}

.note-delete {
  grid-area: delete;
  place-self: end;
}

/* Edit Note */
.note-edit {
  display: grid;
  grid-template-areas:
    "delete delete delete delete"
    "update update update update"
    "update update update update";
}
.note-edit .create-note {
  width: inherit;
}
.note-close {
  display: grid;
  background-color: #ffffffbb;
  place-items: center;
  grid-area: delete;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: absolute;
  top: -6%;
  right: 0;
  z-index: 200;
}

.note-close:hover{
  cursor: pointer;
  outline: 7px solid rgb(15, 15, 15);
}


.note-update-box {
  grid-area: update;
}
.skeleton{
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
}

/* Search Results */

.search-results{
  display: flex;
  flex-flow: row wrap;
  margin: 3%;
  gap: 1.2rem;
}
/* animations */
.loading-animation{
  animation: loading infinite 300ms 100ms alternate;
}
.delete-animation{
  animation: delete infinite 300ms 100ms alternate;
}
.add-animation{
  animation-name: addtask;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loading{
  0%{
  opacity: 0.1;
  }
  25%{
    opacity: 0.25;

  }
  50%{
    opacity: 0.50;

  }
  75%{
    opacity: 0.75;

  }
  100%{
  opacity: 1;
    
  }

}

@keyframes delete{

  0%{
    transform: rotate(0);
  }
  25%{
    transform: rotate(45deg);
    
  }
  50%{
    transform: rotate(0);
    
  }
  75%{
    transform: rotate(-45deg);
    
  }
  100%{
    transform: rotate(0);
      
    }

}
@keyframes addtask{

  0%{
    transform: rotate(0);
  }
  
  100%{
    transform: rotate(360deg);
      
    }

}